@tailwind base;
@tailwind components;
@tailwind utilities;


/* MazdaType Font Variants */
@font-face {
  font-family: 'MazdaType';
  src: url('/fonts/MazdaType-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MazdaType';
  src: url('/fonts/MazdaType-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MazdaType';
  src: url('/fonts/MazdaType-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MazdaType';
  src: url('/fonts/MazdaType-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MazdaType';
  src: url('/fonts/MazdaType-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* SS Gizmo */
@font-face {
  font-family: 'SS Gizmo';
  src: url('/fonts/SS-Gizmo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
